src/test/resources/test.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6b21  svn-revision#12959. -->
<definitions targetNamespace="http://model.xjcimmutable.danielwegener.github.com/" name="WeatherServiceService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://model.xjcimmutable.danielwegener.github.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
    <types>
        <xs:schema version="1.0" targetNamespace="http://model.xjcimmutable.danielwegener.github.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

            <xs:element name="getForecast" type="tns:getForecast"/>

            <xs:element name="getForecastResponse" type="tns:getForecastResponse"/>

            <xs:complexType name="getForecast">
                <xs:sequence>
                    <xs:element name="arg0" type="xs:dateTime" minOccurs="0"/>
                    <xs:element name="arg1" type="xs:dateTime" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="getForecastResponse">
                <xs:sequence>
                    <xs:element name="return" type="tns:forecast" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="forecast">
                <xs:sequence>
                    <xs:element name="thunderbolts">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="key" minOccurs="0" type="xs:dateTime"/>
                                            <xs:element name="value" minOccurs="0" type="tns:thunderbolt"/>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="raindropImpact" type="xs:dateTime" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="thunderbolt">
                <xs:sequence>
                    <xs:element name="intensity" type="xs:double" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </types>
    <message name="getForecast">
        <part name="parameters" element="tns:getForecast"/>
    </message>
    <message name="getForecastResponse">
        <part name="parameters" element="tns:getForecastResponse"/>
    </message>
    <portType name="WeatherService">
        <operation name="getForecast">
            <input wsam:Action="http://model.xjcimmutable.danielwegener.github.com/WeatherService/getForecastRequest" message="tns:getForecast"/>
            <output wsam:Action="http://model.xjcimmutable.danielwegener.github.com/WeatherService/getForecastResponse" message="tns:getForecastResponse"/>
        </operation>
    </portType>
    <binding name="WeatherServicePortBinding" type="tns:WeatherService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="getForecast">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="WeatherServiceService">
        <port name="WeatherServicePort" binding="tns:WeatherServicePortBinding">
            <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
        </port>
    </service>
</definitions>